.DS_Store
.idea
__pycache__

tace_detection/octo/*
tace_detection/pics/*
tace_detection/utils/secret_octopod.py

proba_calibrator/gif

reinforcement

feature_from_music/data
feature_from_music/musemind_copycat/AIVE x Musemind
feature_from_music/musemind_copycat/data
feature_from_music/musemind_copycat/musemind_benchmark
feature_from_music/pretrained_models
